body {
    font-family: Arial, sans-serif;
    background-color: #650015;
    color: white;
    text-align: center;
    margin: 0;
    padding: 40px;
    transition: background-color 0.3s, color 0.3s;
}

h1 {
    font-size: 42px;
    margin-bottom: 30px;
}

h2 {
    font-size: 30px;
    margin-top: 35px;
}

p {
    font-size: 18px;
    line-height: 1.6;
    max-width: 700px;
    margin: 15px auto;
}

nav {
    margin-bottom: 40px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

nav a:hover {
    text-decoration: bold;
}



.about-card {
    width: 80%;
    max-width: 700px;
    margin: 30px auto;
    padding: 25px;
    text-align: center;
    border-radius: 12px;
    background-color: #FFC0CB;
color: black;
    box-sizing: border-box;
}

.about-card h3 {
    font-size: 28px;
    margin-bottom: 15px;
}

.about-card p {
    font-size: 18px;
    line-height: 1.6;
}
#About\ Salvation\ Baptist\ Church {
    padding: 40px 20px;
    text-align: center;
}





#gallery {
    text-align: center;
    padding: 40px 20px;
}

#gallery h2 {
    font-size: 32px;
    margin-bottom: 25px;
}

.gallery {
    display: flex;
    justify-content: left;
    gap: 20px;
    flex-wrap: wrap;
}

.gallery img {
    width: 220px;
    height: 160px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.08);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
}

.modal-content {
    max-width: 80%;
    max-height: 80%;
    margin-top: 5%;
    border-radius: 10px;
}

.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}